In [ ]:
import kdbai_client as kdbai
# YOUR_INSTANCE_ID = 'test'
# YOUR_API_KEY = 'test'
session = kdbai.Session(endpoint=f"https://cloud.kdb.ai/instance/{YOUR_INSTANCE_ID}", api_key=f"{YOUR_API_KEY}")

# create reference to default database
db = session.database('default')
print(db.tables)

[]

In [10]:
import pandas as pd 
import numpy as np
from pandasai import SmartDataframe
from pandasai.llm.openai import OpenAI
import os
from getpass import getpass

In [3]:
os.environ['OPENAI_API_KEY'] = 'test'

In [4]:
llm = OpenAI(model='gpt-4o', api_token=os.environ['OPENAI_API_KEY'])

### Data Import and Exploration with PandasAI
#### Import Movies dataframe

In [5]:
df = pd.read_pickle('../../data/filtered_embedded_movies.pkl')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19161 entries, 0 to 19160
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ReleaseYear  19161 non-null  int64
 1   Title        19161 non-null  object
 2   Origin       19161 non-null  object
 3   Director     19161 non-null  object
 4   Cast         19161 non-null  object
 5   Genre        19161 non-null  object
 6   Plot         19161 non-null  object
 7   embeddings   19161 non-null  object
dtypes: int64(1), object(7)
memory usage: 1.2+ MB

In [6]:
df.shape

(19161, 8)

In [7]:
df.head()

,ReleaseYear,Title,Origin,Director,Cast,Genre,Plot,embeddings
0,1975,The Candy Tangerine Man,American,Matt Cimber,John Daniels Eli Haines Tom Hankason,action,A successful Los Angeles-based businessperson ...,"[-0.06835174, -0.013138616, -0.12417501, 0.002..."
1,1975,Capone,American,Steve Carver,Ben Gazzara Susan Blakely John Cassavetes Sylv...,crime drama,The story is of the rise and fall of the Chica...,"[-0.01411798, 0.040705115, -0.0014280609, 0.00..."
2,1975,Cleopatra Jones and the Casino of Gold,American,Charles Bail,Tamara Dobson Stella Stevens,action,The story begins with two government agents Ma...,"[-0.0925895, 0.01188509, -0.08999529, -0.01541..."
3,1975,Conduct Unbecoming,American,Michael Anderson,Stacy Keach Richard Attenborough Christopher P...,drama,Around 1880 two young British officers arrive ...,"[-0.07435084, -0.06386179, 0.017042944, 0.0288..."
4,1975,Cooley High,American,Michael Schultz,Lawrence Hilton-Jacobs Glynn Turman Garrett Mo...,comedy,Set in 1964 Chicago Preach an aspiring playwri...,"[-0.041632336, 0.037923656, -0.072276264, -0.0..."

In [8]:
#df_pandas = SmartDataframe(df, config={'llm': llm})

In [11]:
#df_pandas.chat('Which director has directed the most movies?')

"Unfortunately, I was not able to get your answers, because of the following error:\n\nunhashable type: 'numpy.ndarray'\n"

In [15]:
df.groupby(['Origin','Genre'], as_index=False)[['embeddings']].count().sort_values(by='embeddings', ascending=False)

         Origin                  Genre  embeddings
196    American                 comedy        1612
281    American                  drama        1463
1303    British                  drama         728
1266    British                 comedy         664
377    American                 horror         575
...         ...                    ...         ...
1167  Bollywood          social biopic           1
1168  Bollywood        social children           1
1169  Bollywood  social children drama           1
1170  Bollywood          social comedy           1
2914    Turkish               thriller           1

[2915 rows x 3 columns]

In [31]:
df.query('Origin == "Bollywood" and ReleaseYear>2015' )

,ReleaseYear,Title,Origin,Director,Cast,Genre,Plot,embeddings
15652,2017,Haraamkhor,Bollywood,Shlok Sharma,Nawazuddin Siddiqui & Shweta Tripathi,comedy/crime,Shyam is a teacher at a small school in a tiny...,"[0.0013290972, -0.020112343, -0.016725577, 0.0..."
15653,2017,Ok Jaanu,Bollywood,Shaad Ali,Aditya Roy Kapur & Shraddha Kapoor,romance/drama,Adi (Aditya Roy Kapur) is a video game develop...,"[-0.06883443, -0.017781533, -0.048946954, 0.03..."
15654,2017,Coffee with D,Bollywood,Vishal Mishra,Sunil Grover & Zakir Hussain,comedy/crime,Arnab Ghosh (Sunil Grover) is Senior Editor an...,"[-0.08984386, -0.040139645, -0.07223931, -0.09..."
15655,2017,Kaabil,Bollywood,Sanjay Gupta,Hrithik Roshan & Yami Gautam,action/thriller,Rohan Bhatnagar (Hrithik Roshan) is a kind hap...,"[-0.09506925, 0.06346472, -0.04290516, 0.00807..."
15656,2017,Raees,Bollywood,Rahul Dholakia,Shah Rukh Khan Mahira Khan & Nawazuddin Siddiqui,crime/action,The film takes begins in the mid-1960s and end...,"[-0.066668995, 0.03509158, -0.084430814, -0.00..."
...,...,...,...,...,...,...,...,...
15730,2017,Kadvi Hawa,Bollywood,Nila Madhab Panda,Sanjay Mishra Ranvir Shorey Tillotama Shome Bu...,drama/disaster,The film is based on true stories from drought...,"[0.0043952162, 0.023996439, 0.010095879, 0.077..."
15731,2017,Rajiv Dhingra,Bollywood,Kapil Sharma Varun Badola & Edward Sonnenblick,Comedy,k9 films,In the 1920s Manga (Kapil Sharma) is an uneduc...,"[-0.108357124, 0.021112945, -0.063381724, -0.0..."
15732,2017,Fukrey Returns,Bollywood,Mrighdeep Singh Lamba,Pulkit Samrat Priya Anand & Varun Sharma,comedy,After their admission in college Hunny Choocha...,"[-0.054787252, 0.048834715, -0.0826604, -0.008..."
15733,2017,Monsoon Shootout,Bollywood,Amit Kumar,Nawazuddin Siddiqui Vijay Varma & Tannishtha C...,crime/thriller,As the raging monsoon lashes Mumbai the commer...,"[-0.017097065, 0.051979236, -0.017915348, 0.06..."
15734,2017,Tiger Zinda Hai,Bollywood,Ali Abbas Zafar,Salman Khan & Katrina Kaif,action/drama,During a dark night in Iraq an American journa...,"[-0.06913219, 0.01603526, -0.01602167, 0.05703..."

## Setup Vector DB and understand the data

In [16]:
import time

In [20]:
table_schema = [
    {"name": "ReleaseYear", "type": "int64"},
    {"name": "Title", "type": "bytes"},
    {"name": "Origin", "type": "str"},
    {"name": "Director", "type": "bytes"},
    {"name": "Cast", "type": "bytes"},
    {"name": "Genre", "type": "str"},
    {"name": "Plot", "type": "bytes"},
    {"name": "embeddings", "type": "float64s"}
]

indexes = [
    {
        "name": "flat_index",
        "type": "flat",
        "column": "embeddings",
        "params": {"dims": 384, "metric": "L2"},
    }
]

In [21]:
db = session.database('default')
table = db.create_table('metadata_demo', schema=table_schema, indexes=indexes)

In [22]:
# Insert the data into the table, split into 2000 row batches
from tqdm import tqdm
n = 2000 # chunk row size

# convert empty cast values to string form from backend. Here we are susing value 'None' for empty cast values
for index, row in df.iterrows():
    cast = row['Cast']
    if 1 == len(cast):
        df.loc[index, 'Cast'] = 'None'

for i in tqdm(range(0, len(df), n)):
    data = df[i:i+n].reset_index(drop=True)
    # change data types as per the table schema
    data['Title'] = data['Title'].str.encode('utf-8')
    data['Director'] = data['Director'].str.encode('utf-8')
    data['Cast'] = data['Cast'].str.encode('utf-8')
    data['Plot'] = data['Plot'].str.encode('utf-8')
    table.insert(data)

100%|██████████| 10/10 [01:03<00:00,  6.35s/it]

In [23]:
#function to view the dataframe within the table
def show_df(df: pd.DataFrame) -> pd.DataFrame:
    print(df.shape)
    return df.head()

In [24]:
show_df(table.query())

(19161, 8)

,ReleaseYear,Title,Origin,Director,Cast,Genre,Plot,embeddings
0,1975,b'The Candy Tangerine Man',American,b'Matt Cimber',b'John Daniels Eli Haines Tom Hankason',action,b'A successful Los Angeles-based businessperso...,"[-0.06835173815488815, -0.01313861645758152, -..."
1,1975,b'Capone',American,b'Steve Carver',b'Ben Gazzara Susan Blakely John Cassavetes Sy...,crime drama,b'The story is of the rise and fall of the Chi...,"[-0.014117980375885963, 0.0407051146030426, -0..."
2,1975,b'Cleopatra Jones and the Casino of Gold',American,b'Charles Bail',b'Tamara Dobson Stella Stevens',action,b'The story begins with two government agents ...,"[-0.09258949756622314, 0.011885089799761772, -..."
3,1975,b'Conduct Unbecoming',American,b'Michael Anderson',b'Stacy Keach Richard Attenborough Christopher...,drama,b'Around 1880 two young British officers arriv...,"[-0.07435084134340286, -0.06386178731918335, 0..."
4,1975,b'Cooley High',American,b'Michael Schultz',b'Lawrence Hilton-Jacobs Glynn Turman Garrett ...,comedy,b'Set in 1964 Chicago Preach an aspiring playw...,"[-0.041632335633039474, 0.0379236564040184, -0..."

### Run Filtered Similarity Search on Vector DB

In [26]:
from sentence_transformers import SentenceTransformer
embedding_model = SentenceTransformer('all-MiniLM-L6-v2')

C:\Users\Utsav\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
C:\Users\Utsav\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\numpy\core\getlimits.py:549: UserWarning: The value of the smallest subnormal for <class 'numpy.float64'> type is zero.
  setattr(self, word, getattr(machar, word).flat[0])
C:\Users\Utsav\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\numpy\core\getlimits.py:89: UserWarning: The value of the smallest subnormal for <class 'numpy.float64'> type is zero.
  return self._float_to_str(self.smallest_subnormal)
C:\Users\Utsav\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\numpy\core\getlimits.py:549: UserWarning: The value of the smallest subnormal for <class 'numpy.float32'> type is zero.
  setattr(self, word, getattr(machar, word).flat[0])
C:\Users\Utsav\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\numpy\core\getlimits.py:89: UserWarning: The value of the smallest subnormal for <class 'numpy.float32'> type is zero.
  return self._float_to_str(self.smallest_subnormal)
C:\Users\Utsav\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\huggingface_hub\file_download.py:140: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\Utsav\.cache\huggingface\hub\models--sentence-transformers--all-MiniLM-L6-v2. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)

In [32]:
query_vector = {'flat_index' : [embedding_model.encode('Fukrey Returns or Shahrukh Khan').tolist()]}

Batches: 100%|██████████| 1/1 [00:00<00:00, 31.51it/s]

In [33]:
table.search(vectors=query_vector, n=3)

[   __nn_distance  ReleaseYear                     Title     Origin  \
 0       1.008340         2002  b'Maine Dil Tujhko Diya'  Bollywood
 1       1.038002         2008                  b'Hello'  Bollywood
 2       1.059718         2010                b'Ishqiya'  Bollywood

               Director                                               Cast  \
 0       b'Sohail Khan'  b'Sohail Khan Sameera Reddy Sanjay Dutt Kabir ...
 1    b'Atul Agnihotri'  b'Sohail Khan Sharman Joshi Amrita Arora Gul P...
 2  b'Abhishek Chaubey'       b'Naseeruddin Shah Vidya Balan Arshad Warsi'

                   Genre                                               Plot  \
 0        action romance  b'Ajay (Sohail Khan) is head of his college gr...
 1        drama romance   b'Salman Khan is a Bollywood actor who is on a...
 2  comedy crime romance  b'Ishqiya starts with Krishna Verma (Vidya Bal...

                                           embeddings
 0  [-0.0923900306224823, 0.01712009310722351, -0....
 1  [-0.06707476824522018, -0.06101248040795326, 0...
 2  [-0.09600114077329636, 0.02684173732995987, -0...  ]

In [34]:
print(table.search(vectors=query_vector, n=3, filter=[("like", "Director", "Ali Abbas Zafar"),(">", "ReleaseYear", 2015)]))

[   __nn_distance  ReleaseYear               Title     Origin  \
0       1.456516         2017  b'Tiger Zinda Hai'  Bollywood

             Director                           Cast         Genre  \
0  b'Ali Abbas Zafar'  b'Salman Khan & Katrina Kaif'  action/drama

                                                Plot  \
0  b'During a dark night in Iraq an American jour...

                                          embeddings
0  [-0.06913218647241592, 0.016035260632634163, -...  ]

In [35]:
table.drop()